body{
	background-color:#C4C4C4;
	font-family:Arial, Helvetica, sans-serif;
	padding:0;
	font-size:12px;
	margin:0px auto auto auto;
	color:#000000;
	line-height:1.5em;
}body{
	background-color:#C4C4C4;
	font-family:Arial, Helvetica, sans-serif;
	padding:0;
	font-size:12px;
	margin:0px auto auto auto;
	color:#000000;
	line-height:1.5em;
}
a{
	color:#000;
	text-decoration:none;
}
p{
	padding:5px 0 5px 0;
	margin:0px;
	text-align:justify;
	line-height:19px;
}
#wrap{
	width:1100px;
	height: auto;
	margin:auto;
	background-color:#FFFFFF;
}
.clear{
	clear:both;
}
.header{
	clear:both;
	width:1070px;
	height:300px;
	margin:10px 15px 10px 15px;
}
#logo{
	float: left;
	margin:25px 0px 15px 15px;
}

#social-media-icons			{ float:right; }
#social-media-icons	ul li		{ display:inline; }
#social-media-icons ul		{ margin:30px 10px 0px 0px; }

/*-----------------------------menu-------------------*/
#menu_lines{
	clear:both;
	width:1070px;
	height:auto;
	margin:10px;
	border-top: #747474 solid;
	border-bottom: #747474 solid;
}
#menu{
	margin:0px 15px 0px 15px;
	padding:0px;
	display:block;
	width:1000px;
}
#menu ul{
	padding:0px;
}
#menu ul li{
	display:inline;
	padding:0px 15px 0px 15px;
	margin:0px;

}
#menu ul li a{
	text-decoration:none;
	color:#000;
}
#menu ul li a:hover{
	text-decoration:none;
	color: #676767;
	font-weight: normal;
	font-size: 12px;
}


/*------------------------------------center content--------------------*/
.center_content{
	width:1100px;
	padding:0 0 0 0;
	background-color:#fff;
	height:auto;
}
.left_content{
	width:225px;
	height:550px;
	float:left;
	padding:20px 0 20px 20px;
}
.left_content h1{
	color:#676767;
}
.left_content ul li{
	color:#676767;
	padding:3px 0 3px 0;
}
.middle{
	width:550px;
	float:left;
	padding:20px 25px 20px 0;
}
.box  {
	float:center;
	margin: 0px 0px 0px 70px;
	padding: 5px 5px 5px 5px;
	background-color: #dddddd;
	border: 2px solid #d22929;
	width: 85%;
	color: #000000;

}
.boxx {
	margin: 30px 0px 30px 50px;
	padding: 5px 5px 5px 5px;
	background-color: #dddddd;
	border: 2px solid #747474;
	width: 80%;
	color: #000000;

}
.middle_content{
	width:550px;
	float:left;
	padding:20px 25px 20px 0;
}
.middle_content_search{
	width:560px;
	float:left;
	padding:10px 0px 10px 0px;
}
.middle_content_search tr td{
	padding:7px 10px;
}
.list_middle_content{
	width:auto;
	padding-top:30px;
	height:auto;
}
.payment{
	width:auto;
	padding-top:30px;
	height:auto;
}
.payment tr td{
	padding:10px;
}
.right_content{
	width:250px;
	float:left;
	padding:20px 0 20px 20px;
}
.right_content_login{
	padding:0 10px 10px 0;
}
.right_content_book{
	padding:10px 10px 10px 0;
}

#register_form{
	margin:20px 30px;
	padding:25px 30px 25px 50px;
}
#register_form table{
	margin:15px;
}
#register_form table tr td{
	padding:10px 20px;
	margin:10px 20px;
}

fieldset {  
	width:200px;  
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	font-size:14px;  
}  
legend {  
	width:100px;  
	text-align:left;  
	background:#fff;  
	border:solid 1px;  
	margin:1px;  
	font-weight:bold;  
	color:#676767;  
}  
#about_left_content{
	float:left;
	margin:15px 0px 15px 0px;
	padding:15px;
	width:600px;
	
}
#about_left_content h1{
	padding:0 0 10px 20px;
	color:#676767;
}
#about_left_content p{
	padding:0 0 10px 15px;
	color:#676767;
	font-style:italic;
}
#about_right_content{
	float:right;
	margin:15px 70px 15px 0px;
	padding:70px 10px 10px 10px;	
}
#about_gallery{
	clear:both;
	border-top: #828282 solid;
	margin:10px 15px;
	padding:15px 25px;
}
#about_gallery h3{
	margin:15px 5px 20px 5px;
	color:#676767;
}	
#contact_left_content{
	float:left;
	width:500px;
}
#contact_right_content{
	width:400px;
	height:500px;
	float:right;
	padding:140px 60px 15px 15px;
}
.comments{
	margin-left:250px;
	margin-right:150px;
}


/*---------------footer------------------------*/
.footer{
	width:1070px;
	height:120px;
	border-top:1px #b2b2b2 dashed;
	margin: 0px 15px 0px 15px;
}
.left_footer{
	width:150px;
	float:left;
	padding:10px 0 0 10px;
}
.middle_footer{
	width:500px;
	float:left;
	padding:10px 0 0 5px;
}
.middle_footer ul li{
	text-decoration:none;
	padding:0 5px 0 5px;
	color:#afaeaf;
}
.middle_footer p{
	float:right;
	padding-right:75px;
}
.right_footer{
	width:310px;
	float:right;
	padding:10px 10px 0 0;
}
.right_footer a{
	text-decoration:none;
	padding:0 5px 0 5px;
	color:#afaeaf;
}


/*----------------Conditions----------------*/

.conditions {
    margin: 10px 0 5px 0px;
	padding:10px;
    width: 560px;
    background: white;
    height: 500px;
}

.title {
    display: block;
    padding: 30px 20px 10px;
    margin: 0 10px 10px;
    color: #676767;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    border-bottom: 1px dashed #676767;
}

p.detail, p.detail-a {
    position: relative;
    z-index: 11;
    margin: 0 0 10px;
    padding: 0 35px;
    font-size: 10px;
    text-align: justify;
    color: gray;
}

.detail-a {
    margin: 15px 0;
    font-weight: bold;
}

.tab-zone {
    position: relative;
    width: 500px;
    margin: 20px 0 0 35px;
}

.tab-power {
    position: relative;
    margin-top: 5px;
    padding: 5px;
    background-color: #b2b2b2;
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.1) );
    background-image: -moz-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.1) );
    background-image: -ms-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.1) );
    background-image: -o-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.1) );
    background-image: linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.1) );
    color: #FFFFFF;
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.tab-power:hover {
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.7), rgba(255,255,255,0.1) );
    background-image: -moz-linear-gradient(top, rgba(255,255,255,0.7), rgba(255,255,255,0.1) );
    background-image: -ms-linear-gradient(top, rgba(255,255,255,0.7), rgba(255,255,255,0.1) );
    background-image: -o-linear-gradient(top, rgba(255,255,255,0.7), rgba(255,255,255,0.1) );
    background-image: linear-gradient(top, rgba(255,255,255,0.7), rgba(255,255,255,0.1) );
}

.tab-blue { background-color: #09C8FF }

.tab-powerOff {
    font-weight: bolder;
    margin: 0 0 0 10px;
}

.tab-close { font-size: 12px }

.tab-detail {
    position: relative;
    width: 0;
    height: 0;
    overflow: hidden;
}

.tab-detail:target {
    position: relative;
    width: auto;
    height: 100px;
    overflow: hidden;
    -webkit-transition: height 0.5s ease-in;
}

.tab-detail p {
    margin: 10px 0 10px 5px;
    color: gray;
    font-size: 12px;
    text-align: justify;
}

.info {
    position: absolute;
    left: 370px;
    top: 500px;
    width: 250px;
    background: #EEE;
    color: gray;
    font-size: 12px;
    padding: 10px;
    text-align: right;
    border: 1px solid #eee;
    border-radius: 5px;
    text-shadow: white 0 1px 1px;
    box-shadow: inset #fff 0 0 1px 0;
    font-family: "Arial";;
}

.info span { line-height: 25px }



/*------------------banner slider------------------*/

#s3slider{
    width: 1070px; /* important to be same as image width */
    height: 300px; /* important to be same as image height */
    position: relative; /* important */
    overflow: hidden; /* important */
}
 
#s3sliderContent {
    width: 1070px; /* important to be same as image width or wider */
    position: absolute; /* important */
    top: 0; /* important */
    margin-left: 0; /* important */
}
 
.s3sliderImage {
    float: left; /* important */
    position: relative; /* important */
    display: none; /* important */
}
 
.s3sliderImage span {
    position: absolute; /* important */
    right: 0;
    font: 15px Arial, Helvetica, sans-serif;
    padding: 20px 50px 20px 10px;
    width: 300px;
	height:300px;
    background-color: #000;
    filter: alpha(opacity=70); /* here you can set the opacity of box with text */
    -moz-opacity: 0.7; /* here you can set the opacity of box with text */
    -khtml-opacity: 0.7; /* here you can set the opacity of box with text */
    opacity: 0.7; /* here you can set the opacity of box with text */
    color: #fff;
    display: none; /* important */
    top: 0; /*
        if you put top: 0;  -> the box with text will be shown 
                                at the top of the image
        if you put bottom: 0;  -> the box with text will be shown 
                                at the bottom of the image
    */
}
 
.clear {
    clear: both;
}